html, body{
    height: 100%;
    background-image: url("../files/background.jpg");
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mark {
    background-color: orange;
    color: black;
}

.my_left{float:left;}
.myright{float:right;}
.my_center{margin:0 auto;}